.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}
.junior {
  float: left;
  width: 40%;
}
.sidebar {
  width: 30%
  float: right;
  background-color: #ffdd99; 
}
.column {
  width: 20%;
  float: left;
  background-color: #ffdd99; 
}
.pool {
  width: 50%;
}
.restaurant {
    width: 50%;
}