html {
  background-color: #ffdd99;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}
.junior {
  float: left;
  width: 700px;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: #ffdd99; 
  height: 450px;
}
.sidebar ul {
  background-color: #ffdd99;
}
.sidebar a {
  background-color: #ffdd99;
  border: 6px solid #ffdd99;
  margin: 10px;
  padding: 3px;
}
.column {
  width: 30%;
  float: right;
  background-color: #ffdd99; 
  padding: 4px;
  margin: 12px;
  border: 2px solid teal;
}
.column h3 {
  font-family: cursive;
  border: 2px solid #fac253
}
.column:hover{
  background-color: #cc8800;
}
.pool {
  width: 50%;
}
.restaurant {
  width: 50%;
}

.pics {
  width: 60%
}
@media screen and (max-width: 1150px) and (min-width: 701px) {
  .junior {
    width: 500px;
  }
  .sidebar {
    width: 45%;
    background-color: #f1af29;
  }
  .sidebar ul {
    background-color: #f1af29;
  }
}
@media screen and (max-width: 550px) and (min-width: 300px) {
  .junior {
    width: 75%;
  }
  .sidebar {
    width: 80%;
    background-color: #cc8800;
    float: left;
  }
  .sidebar ul {
    background-color: #cc8800;
  }
  .column {
    width: 200px;
    float: right;
  }
}
@media screen and (max-width: 700px) and (min-width: 500px){
  .junior {
    width: 55%;
  }
  .sidebar {
    width: 70%;
  }

}